*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    z-index: 20;
}

.sky img{
    position: absolute;
    top: 86px;
    left: 140px;
    height: 70px;
    width: 70px;
}
@media only screen and (max-height: 1328px) {
    .sky img {
        top: 69px;
        left: 153px;  
    }
  }

  @media only screen and (max-width: 720px) {
    .sky img{
        top: 141px;
        left: 225px;
    }
  }
.text{
    position: absolute;
    top: 108px;
    left: 270px;
    text-transform: capitalize;
    animation: textMove linear .3s
             infinite;
}
@media only screen and (max-width: 720px) {
    .text {
        top: 280px;
        left: 174px;
        font-size: large;
    }
  }

.track{
    background-image: url(track.jpg);
    position: relative;
    bottom: -630px;
    height: 23vh;
    width: 800%;
    z-index: 5;
    background-repeat: repeat-x;
    animation: carMove linear 13s
             infinite;
}
@media only screen and (max-height: 1328px) {
    .track {
        bottom: -573px;
    }
  }
.car{
    background-image: url(car_body.png);
    height: 125px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 250px;
    top: 542px;
    z-index: 6;
    animation: shake linear 3s
             infinite;
}
@media only screen and (max-height: 1328px) {
    .car {
        top: 481px;
    }
  }
.wheel1 img{
    height: 37px;
    width: 37px;
    position: relative;
    top: 91px;
    left: 78px;
    animation: wheelRotation linear .6s
             infinite;
}

.wheel2 img{
    height: 40px;
    width: 40px;
    position: relative;
    top: 46px;
    left: 177px;
    animation: wheelRotation linear .6s
             infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes textMove {
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}